@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Source Sans Pro, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
    text-align: center;
    margin-bottom: 25px;
}

#logo {
    float: left;
    width: 10%;
    margin-top: 25px;
    margin-left: 50px;
    line-height: 150px;
}

/* navigation links */

#nav {
    font-size: 100%;
    letter-spacing: 4px;
    line-height: 150px;
    display: flex;
    justify-content: flex-end;
}

#nav li {
    list-style-type: none;
    padding: 0px 30px;
}

#nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}

#nav a:hover {
    border-bottom: 1px solid #392618;
}

.active {
    border-bottom: 2px solid #392618;
    color: #392618;
    font-weight: bold;
}

/* Slides hero image */

.container {
    height: 600px;
    width: 100%;
    border: 1px solid;
    overflow: hidden;
}

.navigator {
    display:flex;
    position: relative;
    bottom: 20px;
}

.navigator .bar {
    height: 5px;
    width: 45px;
    background: #252525;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 8px;
    box-shadow: 2px 2px 6px #fff, -2px -2px 6px #fff;
}

.navigator .bar:hover {
    background: #fff;
}

input[type="radio"]{
    position: absolute;
    visibility: hidden;
}

.slider {
    display: flex;
    height: 100%;
    width: 500%;
}

.image {
    width: 20%;
    transition: 0.4s ease;
}

img{
    width: 100%;
    height: 100%;
}

#main-image1:checked ~ .first {
    margin-left: 0;
}

#main-image2:checked ~ .first {
    margin-left: -20%;
}

#main-image3:checked ~ .first {
    margin-left: -40%;
}

#main-image4:checked ~ .first {
    margin-left: -60%;
}

#main-image5:checked ~ .first {
    margin-left: -80%;
}

#mission {
    margin: 25px 25px 50px;
    text-align: center;
    font-size: 18px;
}

.button {
    border-radius: 12px;
    background-color: #392618;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 14px;
    display: inline-block;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* about us page */
#aboutus {
    text-align: center;
    margin: 25px 150px 10px;
    font-size: 18px;
}


#about-container {
    width: 100%;
    height: 250px;
    background: #ccc;
    margin: 120px auto;
    display: flex;
}

#about-container h2 {
    color:#fff;
}

.request-contact {
    display: none;
}

.col {
    height: 100%;
    flex: 1;
    color:#fff;
    box-sizing: border-box;
    padding: 25px;
    transition: 0.6s;
    text-align: center;
}

.col:nth-child(1) {
    background: #694f3d; 
}

.col:nth-child(2) {
    background: #694f3e;
}

.col:nth-child(3) {
    background: #694f3f;
}

.col:nth-child(4) {
    background: #694f3f;
}

.col:nth-child(5) {
    background: #694f3f;
}

.caption {
    max-width: 230px;
    font-size: 16px;
    margin: 28px 5px;
    display: none;
}

.col:hover {
    flex-grow: 2.5;
    text-align: center;
}

.col:hover .caption {
    display: block;
    text-align: center;
}

/* Form */
form {
	width: 70%;
	padding: 25px;
	border-radius: 8px;
	margin: 25px auto;
	background-color: white;
}

#contact-us {
    text-align: center;
    margin-top: 25px;
}

.form-section {
    background-size: cover;
    background-position: center;
    height: 600px;
}

.text-input {
    background: transparent;
    color: #392618;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border-bottom: 1px solid #392618;
    border-radius: 2px;
}

.write-box {
    height: 75px;
    width: 100%;
    border: 1px solid #392618;
}

.submit {
    border-radius: 12px;
    background-color: #392618;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 150px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 25px;
    display: inline-block;
  }

.submit:hover {
     background-color: #FFFFFF;
     color: #392618;
     border: 2PX solid #392618;
}

#map {
    width: 100%;
    height: 300px;
}

/* footer */
footer {
    height: 60px;
    bottom: 0;
    width: 100%;
    display: inline;
    text-align: center;
    position: static;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    margin: 1%;
    padding: 5%;
    color: #392618;
}

#call i:hover {
    color: green;
}

#facebook i:hover {
    color: blue;
}

#whatsapp i:hover {
    color: green;
}

#instagram i:hover {
    color: #DD2A7B;
}

#contact-call i:hover {
    color: green;
}

#contact-facebook i:hover {
    color: blue;
}

#contact-whatsapp i:hover {
    color: green;
}

#contact-instagram i:hover {
    color: #DD2A7B;
}

/* Media queries */

/* For medium to small screen sizes from 941px and down */
@media screen and (max-width: 941px) {

#about-container {
    display: none;
}

#aboutus {
    text-align: center;
    margin: 25px 50px 10px;
    font-size: 16px;
}

.request-contact {
    display: block;
    text-align: center;
    margin: 25px 10px 10px;
    font-size: 18px;
}

/* Form */

#contact-footer {
    display: none;
}

#mapsection {
   display: none;
}

}

/* For medium to small screen sizes from 750px and down */

@media screen and (max-width: 750px) {

#logo {
 width: 15%;
}

#nav {
    font-size: 80%;
    letter-spacing: 2px;
}

#nav li {
    padding: 0px 10px;
}

#nav a {
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

#mission {
    font-size: 16px;
}

.container {
    height: 300px;
}

}